body {
    font-family: Arial, sans-serif;
    background-color: #111;
    color: #fff;
    display: flex;
    justify-content: center;
    padding-top: 50px;
    background-image: linear-gradient(to bottom, #000, #333);
}

.contenedor-principal {
    background-color: #222;
    width: 90%;
    max-width: 800px;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0px 0px 20px rgba(255, 0, 0, 0.5);
    border: 3px solid #f00;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.titulo {
    font-family: 'Metal Mania', cursive;
    font-size: 36px;
    color: #ff0000;
    text-shadow: 2px 2px 5px #000;
    margin-bottom: 20px;
}

.fila-formulario {
    display: flex;
    gap: 10px;
    margin-bottom: 15px;
    width: 100%;
}

.campo-texto {
    flex: 1;
    padding: 12px;
    border: 2px solid #f00;
    border-radius: 8px;
    background-color: #333;
    color: #fff;
}

.campo-seleccion {
    padding: 12px;
    border: 2px solid #f00;
    border-radius: 8px;
    background-color: #333;
    color: #fff;
    font-weight: bold;
}

.fila-boton {
    text-align: center;
    margin-bottom: 30px;
}

.boton-agregar {
    background-color: #ff0000;
    border: 3px solid #fff;
    padding: 12px 40px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
    color: #fff;
    text-shadow: 1px 1px 3px #000;
}

.boton-agregar:hover {
    background-color: #cc0000;
    box-shadow: 0 0 15px #ff0000;
}

.contenedor-tareas {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap-reverse;
    gap: 20px;
    justify-content: flex-start;
    width: 100%;
}

.tarjeta {
    padding: 20px 30px;
    border-radius: 12px;
    text-align: center;
    font-size: 18px;
    font-family: 'Metal Mania', cursive;
    box-shadow: 4px 4px 10px rgba(0,0,0,0.8);
    box-sizing: border-box;
    flex: 0 0 calc((100% - 40px) / 3);
    min-width: 180px;
    overflow-wrap: break-word;
    border: 2px solid #fff;
}

.pendiente {
    background-color: #660000;
    border: 2px solid #ff3333;
    color: #fff;
}

.en-proceso {
    background-color: #000000;
    border: 2px solid #fc0000;
    color: #fff;
}

.finalizado {
    background-color: #006400;
    border: 2px solid #00ff00;
    color: #fff;
}